* {
	box-sizing: border-box;
}

.emerald {
	background-color: #16a085;
	width: 500px;
	margin-left: 220px;
	display: block;
	height: 200px;
	margin-top: 20px;
	color: white;
	font-size: 24px;
	font-family: Arial;
	padding-top: 165px;
	padding-left: 10px;


}

body {
	background-color: #7f8c8d;
}

.darkemerald {
	background-color: #1abc9c;

	width: 500px;
	margin-left: 220px;
	display: block;
	height: 6px;

}

.grey {
	background-color: #34495e;
   
	width: 500px;
	margin-left: 220px;
	display: block;
	height: 35px;
	padding-top: 12px;
	text-align: right;
	padding-left: 10px;
	font-family: arial;
	font-size: 12px;




}

.grey a {
	text-decoration: none;
	color: white;
	padding: 0px 10px;
    word-wrap: normal;
    display: inline-block;
}

.darkgrey {
	background-color: #2c3e50;

	width: 500px;
	margin-left: 220px;
	display: block;
	height: 6px;

}

.bigone {
	background-color: #ecf0f1;
	position: relative;
    display: inline-block;
	width: 500px;
	margin-left: 220px;
	display: block;
	

}

.aside {
	background-color: #ecf0f1;
    position:absolute;
	width: 175px;
	margin-left: 510px;
	display: inline-block;
	height: 200px;
	margin-top: 0px;

}

.trite {
	background-color: #34495e;
    position:absolute;
	width: 175px;
	margin-left: 510px;
	display: inline-block;
	height: 5px;
	margin-top: 200px;
	
}

.test {
	margin-right: 10px;

}

h1 {
	font-weight: bold;
	color: black;
	font-size: 18px;
	padding-top: 40px;
	font-family: arial;
	padding-left: 20px;
	margin: 0;

}

h2 {
	font-weight: bold;
	color: black;
	font-size: 14px;
	padding-top: 10px;
	font-family: arial;
	padding-left: 20px;
	margin: 0;

}

p {
	margin: 20px;
	padding-left: 20px;
	font-size: 12px;
	font-family: arial;
	padding-right: 20px;
	line-height: 20px;

}

table {
	width:90%;
	height: 200px; 
	padding: 0;
	margin-left: 20px;
	border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-collapse: collapse;
    margin: auto;
 

   

	}

 td {
	border: 1px solid grey;
	padding: 0;
}



td:nth-child(1){
	width: 12%;
	padding-left: 10px;
	font-size: 12px;
	font-family: arial;
	

}

td:nth-child(2){
	width: 68%;
	vertical-align: top;
	padding-left: 10px;
	font-size: 12px;
	font-family: arial;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	vertical-align: middle;
	

}
td:nth-child(3){
	width: 20%;
}

tr:nth-child(1) {
	height: 15%;
	background-color: #bdc3c7;
}

tr:nth-child(2) {
	height: 45%;
}

tr:nth-child(3) {
	height: 20%;
}

tr:nth-child(4) {
	height: 20%;
}

hr {
	color: #bdc3c7; 
	width: 95%; 
	height: 1px;

}

.firstrow {
	padding-left:10px;
	vertical-align: middle;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding-right: 0;
	

}

.bluebutton {
	background-color: #3498db;
	color: white;
	font-family: arial;
	font-size: 12px;
	margin-left: 10px;
	text-align: center;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.codebox {
	margin: auto;
	height: 80px;
	width: 90%;
	background-color: #95a5a6;
	font-family: courier;
	font-size: 12px;
	padding-left: 20px;
    padding-top: 17px;
}

.placeholder {
	padding-left: 23px;

}

.list {
	margin: 20px;
	padding-left: 20px;
	font-size: 12px;
	font-family: arial;
	padding-right: 20px;
	line-height: 20px;
		
}
